:root{
    --bg-color:#dcdcdc;
    --text-color: #6c757d;
    --accent-color: #6600ff;
    --c-color: #6600ff;
}
/*-------------------------------------------------------Base--------------------------------------------------------------------*/

html, body{
    height: 100%;
}

body{
    min-width: 320px;
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main.main{
    flex: 1 1 auto;

}

/*-------------------------------------------------------Base--------------------------------------------------------------------*/

/*-------------------------------------------------------Header--------------------------------------------------------------------*/
a.tel_number{
    font-size: 16px;
}

i.social_icon{
    font-size: 200%;
}

ul.social{
    list-style: none;
}




/*-------------------------------------------------------Header--------------------------------------------------------------------*/